<!--<!DOCTYPE html>-->
<!--<html xmlns:wicket="http://wicket.apache.org">-->
<!--<head>-->
<!--<meta charset="utf-8" />-->
<!--<title>Proteus</title>-->
<!--<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css' />-->
<!--<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="Stylesheet" />-->
<!--</head>-->

<!--<style>-->
<!--.feedbackPanelINFO {-->
<!--color: green;-->
<!--}-->
<!--.feedbackPanelERROR {-->
<!--color: red;-->
<!--}-->
<!--</style>-->

<!--<body>-->
<!--<div>-->
<!--<div wicket:id="feedback"></div> &lt;!&ndash; gives user warnings/messages &ndash;&gt;-->

<!--<form wicket:id="form">-->
<!--<p>-->
<!--<label>Enter directory:</label>-->
<!--<input wicket:id="path" type="text" size="20" />-->
<!--<input wicket:id="query" type="text" size="20" />-->
<!--<input type="submit" value="Upload"/>-->
<!--</p>-->
<!--</form>-->
<!--</div>-->



<!--<br><br><wicket:container wicket:id="version">1.5-SNAPSHOT</wicket:container>.-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" ng-app="drat" xmlns:wicket="http://wicket.apache.org">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PROTEUS</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://rawgit.com/novus/nvd3/v1.1.15-beta/nv.d3.min.css"/>
	<link rel="stylesheet" type="text/css" href="styles/HomePage.css">
</head>
<body ng-controller="switch">
<div class="container" ng-show="!goSecondPage">
	<div class="header">
		<h1 class="proteus">PROTEUS</h1>
		<span class="h4">'A GUI FOR DRAT'</span>
	</div>
	<!--ng-controller="switch"-->

	<div class="col-md-5 box">
		<form wicket:id="form" action="/workflow" method="POST">
			<div class="col-lg-10 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-2">
				<div class="input-group">
					<div class="select-text">Select a repository to audit with <span class="weight">DRAT</span></div>
					<input ng-model="dirPath"  placeholder="Enter a remote git/svn repository(e.g. Github, ...)" type="text" class="form-control input-height" id="remote_repository">
					<label class="grey-font" style="font-size: 18px; margin: 5px 0">or</label> <br>

                      <span class="file-input btn btn-block btn-info btn-file default-weight input-height">
                          <span class="glyphicon glyphicon-folder-open folder-icon"></span>
                          Choose a directory from your computer
                          <input wicket:id="fileUploader" type="file" id="files" name="attachment[]" accept=".zip" multiple />
                          <output id="list"></output>
                      </span>
					<div class="name" id="file-name">

					</div>

				</div>

				<div class="btn-group" style="margin-top: 30px; width: 100%; ">
					<div class="choose-text">Choose a command to run</div>

					<button type="button"  class="btn btn-info default-weight go">
						{{ listOfAvailableCommands[0].name }}! (runs all commands)
					</button>
					<div class="btn-group">
						<ul class="dropdown-menu">
							<li ng-repeat="list in listOfAvailableCommands.slice(1,listOfAvailableCommands.length)">
								<a href="#" ng-click="setId(list.id)" id="list.id"> {{ list.name }} </a>
							</li>
						</ul>
						<button type="button" class="btn btn-info dropdown-toggle down-drop-button"
								data-toggle="dropdown">
							<span class="caret"></span>
						</button>

					</div>
					<!--ng-click="goToTwo()"-->
					<button  type="submit" value="Upload" class="btn btn-primary default-weight run-button">
						Run DRAT!
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
<script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
<script src="https://rawgit.com/mbostock/d3/master/d3.min.js"></script>
<script src="scripts/HomePage.js"></script>
</body>

</html>