body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  margin: 0 auto;
}
.col-centered {
	margin-top: 150px;
}
.align-center {
	text-align: center;
}
